{% extends 'WeatherNow/layout.html' %}

{% block title %}
    {{ city }}
{% endblock %}

{% block weather_detail %}
   <div class="col-5 offset-1">
        <h1>{{ city }}</h1>
        <div class="justify-content-center alert alert-info">
            <div class="row">
                <div class="col-9">
                    <b>Температура:</b> {{ temp }}<sup>o</sup>
                </div>
                <div class="col-2 offset-1">
                    <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Фото погоды" class="img-thumbnail">
                </div>
            </div>
        </div>
   </div>
{% endblock %}