{% extends 'WeatherNow/layout.html' %}

{% block title %}
    Погода в городе
{% endblock %}

{% block weather_detail %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-5 offset-1">
                <h1>Погода в городе</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.name }}
                    <input type="submit" name="send" value="Узнать" class="mt-0 btn btn-danger">
                </form>
            </div>
            <div class="col-5 offset-1">
                {% for info in all_info %}
                    <div class="justify-content-center alert alert-info">
                        <div class="row">
                            <div class="col-9">
                                <b>Город:</b> {{ info.name }}<br>
                                <b>Температура:</b> {{ info.temp }}<sup>o</sup>
                            </div>
                            <div class="col-2 offset-1">
                                <a class="my-0 p-4 mr-md-auto text-dark" href="{% url 'WeatherNow:on_delete' info.id %}">X</a>
                                <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды" class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}